{% extends "baseUsuarios.html" %}
{% block contenidoUsuario %}
{% for message in get_flashed_messages() %}
<input id="mensajeflash" type="hidden" value="{{message}}">
{% endfor %} 
    <div class="col dashboard_innerContent" style="padding: 0px 20px 40px 20px;">
        <h4 class="center-align">Bienvenido al men&uacute; de administrador del restaurante</h4><br>
        <h6 class="center-align grey-text text-darken-3" style="margin-left: 30px;">Desde los botones de la barra lateral puede navegar entre las distintas funciones que puede ejercer como administrador del restaurante.</h6>
        <br><hr><br>
        <p class=" center-align blue-grey-text text-darken-3">Desde la opcion "Configuracion de cuenta" puede acceder a la configuracion de su informacion personal, configuraciones adicionales de la pagina, entre otras...</p>
    </div>
{% endblock %}
{% block scriptsUsuarios %}
    <script>
    </script>
{% endblock %}