{% extends "base.html" %}
{% block contenido %}
<main>
    <div class="row" style="margin: 0px;">
        <!-- Grey navigation panel -->
        <ul id="nav-mobile" class="sidenav sidenav-fixed">
            <p class="center-align"><a href="/" class="brand-logo"><img src="/static/img/logo.PNG"></a></p>
          {% if 'nit' in session%}
            {% if session["tipo"] == 1 %}    
              <p class="center-align" style="font-size: large;">Hola {{ session["nombre"] }}</p>
              <p class="center-align"><img src="/static/img/user.png"></p>
              <hr>
              <li><a active href="/Usuario/">Informacion personal</a></li>
              <li><a href="/Usuario/Cuenta/">Configuracion de la cuenta</a></li>
              <li><a href="/Usuario/Pedidos/">Historial de pedidos</a></li>
              <li><a href="/Usuario/Comentarios/">Gestionar comentarios</a></li>
            {% else %}
              {% if session["tipo"] == 2 %}
                <p class="center-align" style="font-size: large;">Hola {{ session["nombre"] }}</p>
                <p class="center-align"><img src="/static/img/user.png"></p>
                <hr>
                <li><a active href="/Usuario/">Informacion personal</a></li>
                <li><a href="/Usuario/Cuenta/">Configuracion de la cuenta</a></li>
                <li><a href="/Usuario/Administrador/GestionarUsuarios">Gestionar Usuarios</a></li>
                <li><a href="/Usuario/Administrador/GestionarPlatos">Gestionar Platos</a></li>
              {% else %}
                {% if session["tipo"] == 3 %}
                  <p class="center-align" style="font-size: large;">Hola {{ session["nombre"] }}</p>
                  <p class="center-align"><img src="/static/img/user.png"></p>
                  <hr>
                  <li><a active href="/Usuario/">Informacion personal</a></li>
                  <li><a href="/Usuario/Cuenta/">Configuracion de la cuenta</a></li>
                  <li><a href="/Usuario/Administrador/GestionarUsuarios">Gestionar Usuarios</a></li>
                  <li><a href="/Usuario/Administrador/GestionarPlatos">Gestionar Platos</a></li>
                  <li><a href="/Usuario/Administrador/Informes">Informes</a></li>
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        </ul>
        {% block contenidoUsuario %}
        {% endblock %}
    </div>
</main>
{% endblock %}
{% block scripts %}
    {% block scriptsUsuarios %}
    {% endblock %}
{% endblock %}