{% extends "base.html" %}
{% block contenido %}
    <main>
    <div class="container">
        <div class="row">
            <div class="col m6"><h3 style="margin:20px 0px;">Detalles del plato</h3></div>
        </div>
        {% if plato != None%}
        <div class="row" id="detalleDelPlato">
            <div class="col m5">
               <img src="/static/img/{{plato[4]}}" alt="foto de hamburguesa" width="100%" height="auto">    
               <h4>Precio: ${{plato[2]}}</h4> 
            </div>
            <div class="col m5">
                <h5>{{plato[1]}}</h5>
                <p style="text-align: justify;">{{plato[3]}}</p>
                <div class="input-field col s12">
                    <textarea id="Observaciones" class="materialize-textarea" placeholder="e.j Sin tomate, sin cebolla"></textarea>
                    <label for="Observaciones">Observaciones:</label>

                </div>
                <a class="waves-effect waves-light btn" href="/Pedidos/{{plato[0]}}"><img src="/static/img/carrito.png" height="70%" width="auto" style="padding-right: 8px; top:6px; "> Agregar al carrito</a>
            </div>
            <div class="col m2">
                <div class="input-field col s9">
                    <input id="Cantidad" type="number" step="1" class="validate">
                    <label for="Cantidad">Cantidad</label>
                  </div>
            </div>
        </div>
        {% else %}
        <h4>El plato no fue encontrado...</h4>
        {% endif %}
    </div>
    </main>
{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}