{% extends "base.html" %}
{% block contenido %}
    <main>
    <div class="container">
        <div class="row">
            <div class="col m6"><h3 style="margin:20px 0px;">Detalles del plato</h3></div>
        </div>
        {% if plato != None %}
        <div class="row" id="detalleDelPlato">
            <div class="col m6">
               <img src="/static/img/{{plato[4]}}" class="materialboxed" width="100%" height="auto">    
               <h4>Precio: ${{plato[2]}}</h4> 
            </div>
            <div class="col m6">
                <h5>{{plato[1]}}</h5>
                <p style="text-align: justify;">{{plato[3]}}</p>
                <div class="input-field col s12">
                    <textarea id="Observaciones" class="materialize-textarea" placeholder="e.j Sin tomate, sin cebolla"></textarea>
                    <label for="Observaciones">Observaciones:</label>
                </div>
                <div class="col s12">
                    <div class="input-field col s3">
                        <input id="Cantidad" type="number" value="1" class="validate" onchange="cambiaCantidad(this)">
                        <label for="Cantidad">Cantidad</label>
                    </div>
                    <div class="input-field col s9">
                        <a id="agregaPlato" class="waves-effect waves-light btn" href="/Menu/{{plato[0]}}/1"><img src="/static/img/carrito.png" height="70%" width="auto" style="padding-right: 8px; top:6px; "> Agregar al carrito</a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <h4>El plato no fue encontrado...</h4>
        {% endif %}
    </div>
    </main>
{% endblock %}
{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var options = {};
            var elems = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(elems, options);
        });
        function cambiaCantidad(input){
            var boton = document.getElementById("agregaPlato");
            if(input.value > 0){
                var href = boton.getAttribute("href");
                var referencias = href.split('/');
                referencias[3] = input.value;
                href = referencias.join('/');
                boton.setAttribute("href",href);
                boton.removeAttribute("disabled");
            }else{
                boton.setAttribute("disabled","");
            }
        }
    </script>
{% endblock %}