{% extends "base.html" %}
{% block contenido %}
{% for message in get_flashed_messages() %}
<input id="mensajeflash" type="hidden" value="{{message}}">
{% endfor %}
<div class="slider">
    <ul class="slides">
      <li>
        <img src="/static/img/banner1.png" style="opacity: 0.7;">
        <div class="caption center-align">
            <h3>Bienvenido a Gold Star Chili!</h3>
            <h5 class="light grey-text text-lighten-3">El mejor restaurante de la region.</h5>
            <a class="waves-effect waves-light btn" href="/Menu"><i class="material-icons left">restaurant_menu</i>Ir al menu</a>
        </div>
      </li>
      <li>
        <img src="/static/img/banner2.jpg" style="opacity: 0.7;">
        <div class="caption left-align">
            <h3>Bienvenido a Gold Star Chili!</h3>
            <h5 class="light grey-text text-lighten-3">El mejor restaurante de la region.</h5>
            <a class="waves-effect waves-light btn" href="/Menu"><i class="material-icons left">restaurant_menu</i>Ir al menu</a>
        </div>
      </li>
      <li>
        <img src="/static/img/banner3.jpeg" style="opacity: 0.7;">
        <div class="caption right-align">
            <h3>Bienvenido a Gold Star Chili!</h3>
            <h5 class="light grey-text text-lighten-3">El mejor restaurante de la region.</h5>
            <a class="waves-effect waves-light btn" href="/Menu"><i class="material-icons left">restaurant_menu</i>Ir al menu</a>
        </div>
      </li>
    </ul>
</div>

<div class="container" style="padding: 0px 30px;">
    <h3 class="center-align">Nuestros servicios</h3>
    <br>
    <div class="row">
        <div class="col m4" style="padding: 0px 10px;">
            <p class="center-align"><i class="material-icons large">local_shipping</i></p>
            <h5 class="center-align">Envíos a domicilio</h5>
            <p class="center-align">Se entregan Pedidos  y servicios en el lugar donde nos lo soliciten - Contactenos Cel 300-555-789</p>
        </div>
        <div class="col m4" style="padding: 0px 10px;">
            <p class="center-align"><i class="material-icons large">restaurant</i></p>
            <h5 class="center-align">Ventas al por mayor</h5>
            <p class="center-align">Contactenos para eventos Masivos y conozca Nuestros Planes</p>
        </div>
        <div class="col m4" style="padding: 0px 10px;">
            <p class="center-align"><i class="material-icons large">store</i></p>
            <h5 class="center-align">Reservaciones de local</h5>
            <p class="center-align">Colocamos a disposicion nuestras instalaciones para cualquier celebracion bajo el buen servicio y Sabor de Nuestros Platos</p>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var options ={indicators: false,
        height: 500 };
        var elems = document.querySelectorAll('.slider');
        var instances = M.Slider.init(elems, options);
    });
    window.addEventListener('load', (event) => {
            if(document.getElementById("mensajeflash")){
                mensaje = document.getElementById("mensajeflash").value;
                    if(mensaje == "sin_permiso")
                        M.toast({html: '<i class="material-icons left">block</i>No dispone de los permisos para ver esta pagina!',classes: 'red lighten-2',displayLength: 3500});
            }
        });

</script>
{% endblock %}
