{% extends "base.html" %}
{% block contenido %}
    <main>
    <div class="container">
        <div class="row">
            <div class="col m6"><h3 style="margin:20px 0px;">Lista de deseos</h3></div>
            <div class="col m4 input-field">
                <input id="Busqueda" type="text" class="validate">
                <label for="Busqueda">Buscar plato</label>
            </div>
            <div class="col m2" style="margin:30px 0px 10px 0px;">
                <a onclick="buscarPlato()" class="waves-effect waves-light btn"><i class="material-icons">search</i></a>
            </div>
        </div>
        <div class="row">
                {% for plato in platos%}
                <div class="col m3 plato">
                    <div class="card hoverable">
                        <div class="card-image">
                            <img src="/static/img/{{plato[3]}}" class="materialboxed" height="160px" width="auto">
                            <a class="flotante_star btn-floating waves-effect waves-light"><i class="material-icons">star_border</i></a>
                        </div>
                        <div class="card-content">
                            <span class="card-title platoNombre">{{plato[1]}}</span>
                            <span style="font-size:22px; font-style: italic;">${{plato[2]}}</span>
                            <a class="waves-effect waves-light tooltipped black-text" data-position="bottom" data-tooltip="detalles del plato" style="margin-left: 30px;" href="/Menu/detalle_plato/{{plato[0]}}"><i class="material-icons">add_circle_outline</i></a>
                        </div>
                        <div class="card-action" style="display:flex; flex-direction: column;">
                            <a class="waves-effect waves-light btn" href="/Lista_deseos/">Pedir</a>
                        </div>
                    </div>
                </div>
                {% endfor %}                                                   
        </div>
    </div>
    </main> 
{% endblock %}
{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var options = {};
            var elems = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(elems, options);
        });
        function buscarPlato(){
            var platoCard = document.getElementsByClassName("plato");
            var platos = document.getElementsByClassName("platoNombre");
            var busqueda = document.getElementById("Busqueda").value;
            for(let i=0;i<platos.length; i++){
                if(busqueda == ""){
                    platoCard[i].style.display = "block";
                }else{
                    if(!platos[i].innerText.toLowerCase().includes(busqueda.toLowerCase())){
                        platoCard[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}