{% extends "base.html" %}
{% block contenido %}
{% for message in get_flashed_messages() %}
<input id="mensajeflash" type="hidden" value="{{message}}">
{% endfor %}
{% if deseos %}
  {% for deseo in deseos%}
    <input class="PlatoDeseo" type="hidden" value="{{deseo[0]}}">
  {% endfor%}
{% endif %}
    <main>
    <div class="container">
        <div class="row">
            <div class="col m6"><h3 style="margin:20px 0px;">Menu de platillos</h3></div>
            <div class="col m4 input-field">
                <input id="Busqueda" type="text" class="validate">
                <label for="Busqueda">Buscar plato</label>
            </div>
            <div class="col m2" style="margin:30px 0px 10px 0px;">
                <a onclick="buscarPlato()" class="waves-effect waves-light btn"><i class="material-icons">search</i></a>
            </div>
        </div>
        <div class="row">
            {% for plato in platos%}
            <div class="col m4 plato">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="/static/img/{{plato[4]}}" class="materialboxed" height="200px" width="auto">
                        <form class="añadirDeseosForm" action="/Menu" method="POST">
                            <input id="id_plato" name="id_plato_deseos" type="hidden" value="{{plato[0]}}">
                            <button class="flotante_star btn-floating waves-effect waves-light" type="submit"><i class="material-icons">star_border</i></button>
                        </form>
                        <a id="flotaDeseo" class="flotante_star btn-floating waves-effect waves-light" style="display:none"><i class="material-icons">star_border</i></a>
                    </div>
                    <div class="card-content">
                        <span class="card-title platoNombre">{{plato[1]}}</span>
                        <p style="font-size:22px; font-style: italic;">${{plato[2]}}</p>
                    </div>
                    <div class="card-action card_with2button" >
                        <form action="/Menu" method="POST">
                            <input id="id_plato" name="id_plato_carrito" type="hidden" value="{{plato[0]}}">
                            <input id="precio" name="precio" type="hidden" value="{{plato[2]}}">
                            <button class="waves-effect waves-light btn" type="submit">Agregar</button>
                        </form>
                        <a class="waves-effect waves-light btn purple" href="/Menu/detalle_plato/{{plato[0]}}">Detalles</a>
                    </div>
                </div>
            </div>
            {% endfor %}                                                   
        </div>
    </div>
    </main>
{% endblock %}
{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var options = {};
            var elems = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(elems, options);
        });
        window.addEventListener('load', (event) => {
            mensaje = document.getElementById("mensajeflash").value;
                if(mensaje == "plato_registrado")
                    M.toast({html: '<i class="material-icons left">block</i>Plato añadido anteriormente!',classes: 'red lighten-2',displayLength: 3000});
                if(mensaje == "OK")
                    M.toast({html: 'Añadido al carrito!',displayLength: 2000});
            var deseosInputs = document.getElementsByClassName("PlatoDeseo");
            var forms = document.getElementsByClassName("añadirDeseosForm");
            
        });
        function buscarPlato(){
            var platoCard = document.getElementsByClassName("plato");
            var platos = document.getElementsByClassName("platoNombre");
            var busqueda = document.getElementById("Busqueda").value;
            for(let i=0;i<platos.length; i++){
                if(busqueda == ""){
                    platoCard[i].style.display = "block";
                }else{
                    if(!platos[i].innerText.toLowerCase().includes(busqueda.toLowerCase())){
                        platoCard[i].style.display = "none";
                    }else{
                        platoCard[i].style.display = "block";
                    }
                }
            }
        }
    </script>
{% endblock %}