{% extends "base.html" %}
{% block contenido %}
{% for message in get_flashed_messages() %}
<input id="mensajeflash" type="hidden" value="{{message}}">
{% endfor %} 
    <main>
    <div class="container">
        <div class="row">
            <div class="col m6"><h3 style="margin:20px 0px;">Carrito de compras</h3></div>
        </div>
        <div class="row">
            <div class="col m7 platos_del_carro">
                {% for plato in platos %}
                  <div class="row card hoverable platopedido" style="margin-bottom: 20px;">
                    <form action="/Pedidos/" method="post">
                        <input id="id_plato_borrar" type="hidden" name="id_plato_borrar" value="{{plato[0]}}">
                        <input type="hidden" name="request" value="borraDetalle">
                        <button class="flotante_star white white-red btn-floating btn-small waves-effect waves-light" type="submit"><i class="material-icons red-text">close</i></button>
                    </form>
                    <div class="col m7" style="margin-top: 15px;">
                        <img src="/static/img/{{plato[3]}}" width="100%">
                    </div>
                    <div class="col m5">
                        <div class="row" style = "margin-bottom: 0px;">
                            <p style="font-size: 22px; font-weight: bold; margin: 10px; " >{{plato[1]}}</p>
                        </div>
                        <div class="row" style="margin-bottom: 0px;">
                            <div class="input-field col m8">
                                <input id="cantidad_pedido" name="cantidad_pedido" type="number" step="1" min="1" value="{{plato[4]}}">
                                <label for="cantidad_pedido">Cantidad</label>
                            </div>
                        </div>
                        <div class="row right-align">
                            <span style="font-size: x-large; font-weight: bold;">Subtotal $</span >
                            <span style="font-size: larger; font-style: italic; margin-right: 10px;">{{plato[2]}}</span >
                            <input class="subtotal_plato" type="hidden" value="{{plato[2]}}"></input >
                        </div>
                    </div>
                  </div>
                {% endfor %}
                
            </div>
            <div class="col m4 offset-m1 resumen_orden">
                <div class="row" style="background-color: rgb(84, 9, 128);">
                    <h5 class="center-align white-text" style="margin-top: 0; padding-top: 10px;">Resumen de la orden</h5>       
                </div>
                <div class="row" >
                    <div class="col s12" style="display: flex; justify-content: space-around;">
                        {% if 'pedido' in session %}
                        <p>Subtotal  </p><p id="pedido_subtotal">$ </p>
                        {% else %}
                        <p>Subtotal  $ 0</p>
                        {% endif %}
                    </div>
                    <div class="col s12" style="display: flex; justify-content: space-around;"> 
                        <p>Envio</p><p>$ 5000</p>
                    </div>   
                </div>
                <div class="row">
                    <div class="col s12" style="display: flex; justify-content: space-around; margin-bottom:15px;">
                        {% if 'pedido' in session%}
                        <span style="font-size:25px; font-weight: bold;">Total  </span>
                        <span style="font-size:25px; font-weight: bold;" id="pedido_total">$ </span>
                        {% else %}
                        <span style="font-size:25px; font-weight: bold;">Total  $ 0</span>
                        {% endif %}
                    </div>
                    <div class="col s12" style="display: flex;flex-direction: column;align-items: center;">
                        <a class="waves-effect waves-light btn"><i class="material-icons left">credit_card</i>Metodo de pago</a>
                        <form action="/Pedidos/" method="post">
                            <input id="total_confirmado" type="hidden" name="total_confirmado" value="">
                            <input type="hidden" name="request" value="confirmaPedido">
                            <button class="waves-effect waves-light btn" style="margin-top: 10px;" type="submit">Confirmar pedido</button>
                        </form>
                    </div>
                </div>
            </div> 
        </div>
    </div>
    </main>
{% endblock %}
{% block scripts %}
    <script>
        window.addEventListener('load', (event) => {
            var subtotalesInput = document.getElementsByClassName("subtotal_plato");
            var subtotal = 0;
            for(let i=0; i < subtotalesInput.length;i++){
                subtotal = subtotal + parseInt(subtotalesInput[i].value);
            }
            document.getElementById("pedido_subtotal").innerText += " " + subtotal.toString();
            document.getElementById("pedido_total").innerText += " " + (subtotal+5000).toString();
            document.getElementById("total_confirmado").value = (subtotal+5000).toString();
        });
    </script>
{% endblock %}