{% extends "baseUsuarios.html" %}
{% block contenidoUsuario %}
{% for message in get_flashed_messages() %}
<input id="mensajeflash" type="hidden" value="{{message}}">
{% endfor %} 
    <div class="col dashboard_innerContent" style="padding: 0px 20px 40px 20px;">
        <!-- Contenido -->

        <!--------------->
    </div>
{% endblock %}
{% block scriptsUsuarios %}
    <script>
        window.addEventListener('load', (event) => {
            if(document.getElementById("mensajeflash")){
                mensaje = document.getElementById("mensajeflash").value;
            }
        });
        
    </script>
{% endblock %}