{% extends "baseUsuarios.html" %}
{% block contenidoUsuario %}
{% for message in get_flashed_messages() %}
<input id="mensajeflash" type="hidden" value="{{message}}">
{% endfor %} 
    <div class="col dashboard_innerContent" style="padding: 0px 20px 40px 20px;">
        <h4 class="center-align">Nombre de usuario: <b>{{ session["usuario"] }}</b></h4><br>
        <form method="post">
            <div class="col s8 push-s2">
                <div class="input-field col s12 m6">
                    <input id="nombre" name="nombre" type="text" class="validate" value="{{ datos[0] }}" disabled>
                    <label for="nombre">Nombre</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="apellido" name="apellido" type="text" class="validate" value="{{ datos[1] }}" disabled>
                    <label for="apellido">Apellido</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="email" name="email" type="email" class="validate" value="{{ datos[2] }}" disabled>
                    <label for="email">Correo electronico</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="telefono" name="telefono" type="tel" class="validate" value="{{ datos[3] }}" disabled>
                    <label for="telefono">Telefono</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="fecha_nacimiento" name="fecha_nacimiento" type="text" class="datepicker" value="{{ datos[4] }}" disabled>
                    <label for="fecha_nacimiento">Fecha de nacimiento</label>
                </div>
                <div class="input-field col s12 m6">
                    <input id="direccion" name="direccion" type="text" class="validate" value="{{ datos[5] }}" disabled>
                    <label for="direccion">Direccion</label>
                </div>
                <div class="col s12 center-align" style="margin-bottom: 15px;">
                    <a class="waves-effect waves-light btn" onclick="campos()" style="width: 250px;"><i class="material-icons left">edit</i>Editar campos</a>
                </div>
                <div class="col s12 center-align">
                    <button id="guardaCambiosUsuario" class="waves-effect waves-light btn purple" href="/Usuario/" type="submit" disabled style="width: 250px;"><i class="material-icons left">save</i>Guardar cambios</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block scriptsUsuarios %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var options = {
                autoClose: true,
                format: 'yyyy-mm-dd',
                yearRange: 10,
                maxDate: new Date(2010,0,1)
            };
            var elems = document.querySelector('.datepicker');
            var instance = M.Datepicker.init(elems, options);
        });
        var habilitado = false
        window.addEventListener('load', (event) => {
            if(document.getElementById("mensajeflash")){
                mensaje = document.getElementById("mensajeflash").value;
                if(mensaje == "exito")
                    Swal.fire( 'Exito!','Usuario logueado correctamente!','success');
                if(mensaje == "usuarioActualizado")
                    Swal.fire( 'Exito!','La informacion de usuario se ha actualziado correctamente!','success');
            }
        });
        function campos(){
            var inputs = document.getElementsByTagName("INPUT");
            if(habilitado == false){
                for(let i=0; i < inputs.length ; i++){
                    inputs[i].removeAttribute("disabled");
                }
                document.getElementById("guardaCambiosUsuario").removeAttribute("disabled");
                habilitado = true;
            }
            else{
                for(let i=0; i < inputs.length ; i++){
                    inputs[i].setAttribute("disabled","");
                }
                document.getElementById("guardaCambiosUsuario").setAttribute("disabled","");
                habilitado = false;
            }
        }
    </script>
{% endblock %}