{% extends "baseUsuarios.html" %}
{% block contenidoUsuario %}
{% for message in get_flashed_messages() %}
<input id="mensajeflash" type="hidden" value="{{message}}">
{% endfor %}
    <div class="col dashboard_innerContent" style="padding: 0px 20px 40px 20px;">
        <!-- Contenido -->
        <div class="col s12 m10 offset-m1">
            <div class="col s12">
                <h3>Comentarios</h3>
            </div>
            <div class="col s12">
                {% for comentario in comentarios%}
                <div class="card horizontal hoverable" style="margin-bottom: 20px;">
                    <div class="card-stacked">
                        <div class="card-content">
                            <div class="col s7">
                                <p style="font-weight: 500; font-size: x-large;">{{ session["nombre"]}} {{ comentario[0] }}</p>
                            </div>
                            <div class="col s5">
                                <p style="font-weight: 500; font-size: large;">Plato: {{ comentario[2] }}</p>
                            </div>
                            <div class="col s10" style="margin-top:5px;">
                                <p>{{ comentario[1] }}</p>
                            </div>
                            <div class="col s2">
                                <button class="btn waves-effect waves-light red lighten-1" style="margin-left: 42px;"><i class="material-icons">delete_forever</i></button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!--------------->
    </div>
{% endblock %}
{% block scriptsUsuarios %}
    <script>
        window.addEventListener('load', (event) => {
            if(document.getElementById("mensajeflash")){
                mensaje = document.getElementById("mensajeflash").value;
            }
        });
    $('#textarea1').val('New Text');
    $('#textarea1').trigger('autoresize');
    </script>
{% endblock %}